@charset "utf-8";
	.Body1
{
	font-size : 14px;
	line-height : 24px;
	color : #A3A0A0;
	color : rgb(163, 160, 160);
}
.Body
{
	font-size : 36px;
	line-height : 24px;
	color : #544F4F;
	color : rgb(84, 79, 79);
}
.Heading2
{
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Heading1
{
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Heading
{
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.Links
{
	font-size : 36px;
	color : #FF0000;
	color : rgb(255, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 14px;
	line-height : 24px;
	color : #A3A0A0;
	color : rgb(163, 160, 160);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 36px;
	line-height : 24px;
	color : #544F4F;
	color : rgb(84, 79, 79);
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 72px;
	color : #7A7476;
	color : rgb(122, 116, 118);
}
